<!-- <app-my-first-component></app-my-first-component> -->
<!-- <app-my-second-component></app-my-second-component> -->
<app-header [nomeEmpresa]="title"></app-header>
<app-home></app-home>
<!-- <router-outlet></router-outlet> -->
<app-footer [childTitle]="title"></app-footer>

<!-- <app-template-driven></app-template-driven> -->

<!-- <app-reactive-forms></app-reactive-forms> -->

<!-- <ul>
    <li>
        <a routerLink="/first-component">My First Component</a>
    </li>
    <li>
        <a routerLink="/template-driven">Template Driven</a>
    </li>
</ul> -->

<!-- <router-outlet></router-outlet> -->